$page-width: 1400px;
$padding: 20px;


.container {

padding: $padding;
width: $page-width }

     article[role="main"] {
       float: left;
       width: 600px / 960px * 100%;
     }

     aside[role="complimentary"] {
       float: right;
       width: 300px / 960px * 100%;
     }
